body {
    margin: 200px auto 0 auto;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    margin: 0;
    padding: 5px;
    list-style: none;
    background: #fff;
    color: #0b56b2;
    font: 0.8em 'Andale Mono', Consolas, 'Courier New';
    line-height: 1.6em;

    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.sidebar {
    padding-top: 18px;
}
.title {
    margin-bottom: 1.75em;
}
.category {
    font-size: 1.1em;
    padding: 1em;
    padding-left: 1em;
}
.large { width: 500px; float: right; }
.selected { 
    border: 1px solid #7ba5dd; 
}
.content { 
    margin: 0px auto; 
}
.conspiracy-tease {
    margin-bottom: 1.5rem;
}
.conspiracy-title{
    font-weight: 500;
    font-size: 1.0rem;
    font-style:oblique;
    margin-bottom: 0.45rem;
}
.conspiracy-summary p{
    margin-bottom: 0.3rem;
}
h1 { color: #0b56b2; }
.content-heading {
    margin-top: 18px;
    margin-bottom: 1.5rem;
}

.noerror { display: none; }